h1{
    color: rgb(104, 139, 195);
}
h2{
    color: rgb(62, 97, 62);
}

h3 {
    color: rgb(215, 165, 73);
    background-color: #112911;
}


p{
    color: #986ba2;
}   

.orangep{
    color: rgb(180, 131, 126);
    background-color: rgb(19, 49, 21);
}




a:link {
    color: red;
}

a:visited {
    color:green;
}

a:active {
    color: black;
}

a:hover {
    color: yellow;
}


.spanstyle{
    color: orange ;
}